
/* Dark theme as default. */
body {
    background-color: #1f1f1f;
    color: white;
}

/* Tables shall be top-aligned */
table td,
table td * {
    vertical-align: top;
}

/* div-style for installed mods. */
.instDiv {
    /*    background: #7fc032; */
    background: #203020;
    color: white;
}

/* div-style for category rows. */
.category {
    background: #10307f;
    color: white;
}

.category h1, h2, h3 {
    margin: 0
}

/* Highlighted text shall be shown as 'FS17 green' */
.fsgreen {
    color: #7fc032;
}

/* Highlight description for better readability. */
.desc {
    background: #3f3f3f;
    color: white;
}

/* Table borders and padding. */
table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 15px;
}

.brand {
    color: #3fc0FF;
}

.item_name {
    color: #3070Ff;
}

.item_cat {
    color: yellow;
}

.item_price {
    color: yellow;
}

.item_upkeep {
    color: #AFAF00;
}

table.item_list, td.item_list {
    border: 0px solid darkgrey;
    border-collapse: collapse;
    padding: 0px;
}